// Body
$body-bg: #2B2B2B;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$main-text: #ffffff;
$accent-1: #2F74BF;
$accent-2: #3B4754;
$section-bg-1: #323232;
$section-bg-2: #3C3F41;;
$section-dark: #292929;;
$border-1: #323232;

$bg-red: #B13737;
$bg-green: #348F32;
