.arrow-4 {
    display: flex;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    //margin:20px;
    width: 38px;
    height: 23px;

    &.open .arrow-4-left:after {
        transform-origin: center center;
        transform: rotate(-80deg);
    }
    &.open .arrow-4-right:after {
        transform-origin: center center;
        transform: rotate(80deg);
    }

    .arrow-4-left, .arrow-4-right {
        position: absolute;
        background-color: transparent;
        top: 10px;
        width: 25px;
        height: 3px;
        display: block;
        float: right;
        border-radius: 2px;

        &:after {
            content: "";
            background-color: $main-text;
            width: 25px;
            height: 3px;
            display: block;
            float: right;
            border-radius: 10px 6px 6px 10px;
            transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
            z-index: -1;
        }

    }

    .arrow-4-left {
        left: 4px;
        transform: rotate(40deg);
    }

    .arrow-4-right {
        left: -4px;
        top: 10px;
        transform: rotate(-40deg);
    }

}

