.cabinet {
  position: relative;
}

.cabinet_container_menu {
  padding-top: 8px;
  position: absolute;
  top: 40px;
  background: $section-bg-2;
  left: -5%;
  width: 115%;
}

.cabinet_menu {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 2px solid #323232;
  border-top: none;
  //padding: 10px 0;

  & > li {
    display: flex;
    align-items: center;
    min-height: 40px;
    cursor: pointer;
    padding: 5px 20px;
    &:hover {
      background: lighter($section-bg-2, 1);;
    }
  }
}
