// Input

input[list]::-webkit-calendar-picker-indicator {
    opacity: 0!important;
    width: 0;
    margin: 0;
    padding: 0;
}

input.control_input {
    background-color: #292929;
    border: 2px solid #323232;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    color: $main-text;
    padding: 0 10px;

    &.error {
        border-color: #B13737;
        background-color: #3D2020;
        &::-webkit-calendar-picker-indicator {
            margin-left: 22px;
        }
    }
}

// Textarea
textarea.control_textarea {
    background: #292929;
    border: 2px solid #323232;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    color: $main-text;
    margin-top: 10px;
    margin-bottom: 22px;
    padding: 6px 10px;
    height: 100%;
}

// Group Input Label
.form_control_input_and_label {
    display: flex;
    flex-direction: column;
    //max-width: 300px;

    label {
        font-family: HelveticaNeueCyr;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 0;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .form_control_container_input {
        display: flex;
        position: relative;
        width: 100%;
        margin-top: 10px;

        input {
            width: 100%;
        }

        .error_notice {
            display: none;
            width: 22px;
            height: 22px;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translate(0, -50%);
            background-image: url('/images/error_notice.svg');
        }
    }

    &.error .error_notice {
        display: block!important;
        z-index: 9999;
    }
}

// Group Textarea Label
.form_control_textarea_and_label {
    display: flex;
    flex-direction: column;

    label {
        font-family: HelveticaNeueCyr;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 0;
        margin-bottom: 20px;
        margin-top: 30px;
    }
}

// Group Input
.form_control_group_input {
    display: flex;
    flex-direction: column;

    label {
        font-family: HelveticaNeueCyr;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 0;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    & .form_control_input_and_label {
        align-items: center;
        flex-direction: row;

        label {
            margin: 0;
            margin-right: 10px;
        }

        input {
            width: unset;
            margin-left: auto;
        }

        margin-bottom: 10px;
    }
}

// Button style-1
.button-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    padding: 10px 30px;
    background: $accent-1;
    border-radius: 4px;

    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    color: $main-text;

    &.fix-bottom {
        margin-bottom: 12px;
    }

    &:hover {
        background-color: lighter($accent-1, 1);
    }

    &:active {
        background-color: darker($accent-1, 1);
    }
}
