// Input

input[list]::-webkit-calendar-picker-indicator {
    opacity: 0!important;
    width: 0;
    margin: 0;
    padding: 0;
}

input.control_input {
    background-color: #292929!important;
    border: 2px solid #323232;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    color: $main-text;
    padding: 0 10px;

    &.error {
        border-color: #B13737;
        background-color: #3D2020;
        &::-webkit-calendar-picker-indicator {
            margin-left: 22px;
        }
    }
}

//input:-webkit-autofill,
//input:-webkit-autofill:hover,
//input:-webkit-autofill:focus
//input:-webkit-autofill {
//
//}

input.control_input:-internal-autofill-selected {
    //box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px #292929!important;
    -webkit-appearance: none!important;
    //background-color: #292929!important;
    //background-image: none !important;
    //color: $main-text !important;
}

input.invisibly {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    height: 100%;
    max-height: 55px;
    width: 100%;
    color: $main-text;
    padding: 20px 30px 23px 20px;
    font-size: 18px;
    margin: 0;

    &.error {
        border-color: #B13737;
        background-color: #3D2020;
        &::-webkit-calendar-picker-indicator {
            margin-left: 22px;
        }
    }

    &:focus {
        outline: none;
        //border: 1px solid #4D90FE;
    }

}

// Textarea
textarea.control_textarea {
    background: #292929;
    border: 2px solid #323232;
    box-sizing: border-box;
    border-radius: 4px;
    color: $main-text;
    margin-top: 10px;
    margin-bottom: 22px;
    padding: 6px 10px;
    height: 100%;
}

.search > input:focus {
    outline: none;
    border: 2px solid #4D90FE;
}

input.control_input:focus, textarea.control_textarea:focus {

}

// Group Input Label
.form_control_input_and_label {
    display: flex;
    flex-direction: column;
    //max-width: 300px;

    label {
        font-family: HelveticaNeueCyr;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 0;
        margin-bottom: 20px;
        margin-top: 30px;
        white-space: nowrap;
    }

    .form_control_container_input {
        display: flex;
        position: relative;
        width: 100%;
        margin-top: 10px;

        input {
            width: 100%;
        }

        .error_notice {
            display: none;
            width: 22px;
            height: 22px;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translate(0, -50%);
            background-image: url('/images/error_notice.svg');
        }
    }

    &.error .error_notice {
        display: block!important;
        z-index: 9999;
    }
}

// Group Textarea Label
.form_control_textarea_and_label {
    display: flex;
    flex-direction: column;

    label {
        font-family: HelveticaNeueCyr;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 0;
        margin-bottom: 20px;
        margin-top: 30px;
    }
}

// Group Input
.form_control_group_input {
    display: flex;
    flex-direction: column;

    label {
        font-family: HelveticaNeueCyr;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 0;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    & .form_control_input_and_label {
        align-items: center;
        flex-direction: row;

        label {
            margin: 0;
            margin-right: 10px;
        }

        input {
            width: unset;
            margin-left: auto;
        }

        margin-bottom: 10px;
    }
}

// Button style-1
.button-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    padding: 10px 30px;
    background: $accent-1;
    border-radius: 4px;

    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    color: $main-text;

    &.fix-bottom {
        margin-bottom: 12px;
    }

    &:hover {
        background-color: lighter($accent-1, 1);
        //background: radial-gradient(41.35% 206.24% at 44.9% 0%, #2FACD3 0%, #0179BD 100%), #9F4242;
    }

    &:active {
        background-color: darker($accent-1, 1);
    }
}

#btn_auth.button-1 {
    border-radius: 0px 0px 4px 4px;
    height: 56.77px;
}

