.form_confirmation {
    min-height: unset!important;
    min-width: unset!important;
    padding: 30px;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            margin-bottom: 30px;
        }

        div {
            display: flex;

            & > * {
                margin: 0 15px;
            }
        }
    }
}
