// Открытое состояние
.nav_sidebar {
    transition: all 1s ease;
    background-color: $section-bg-2;
    height: calc(100vh - 80px);
    width: 280px;
    min-width: 280px;
    display: flex;
    flex-direction: column;

    .nav_sidebar_menu {
        transition: all 1s ease;
    }
    .item_menu {
        display: flex;
        border-bottom: 2px solid #323232;
        width: 100%;
        padding: 22px 30px;
        font-family: HelveticaNeueCyr;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;

        & > span {
            padding-left: 5px;
            &:before {
                content: "-";
                margin-right: 5px;
            }
        }
    }

    .icon_dropdown {
        background-image: url("/images/dropdown.svg");
        background-size: cover;
        background-position: center;
        width: 22px;
        height: 12px;
    }

    & ul {
        list-style: none;
        padding: 0;
    }

    & li {
        display: flex;
        flex-direction: column;
        position: relative;

        & > span, a {
            height: 62px;
        }
    }

    .item_menu_dropdown {
        height: auto;
    }

    li.router-link-active {

        & > .item_menu {
            background-color: $accent-2;
        }

        &:before {
            content: "";
            height: 100%;
            background: $accent-1;
            width: 8px;
            height: calc(100% - 2px);
            position: absolute;
        }

        &.item_menu_dropdown {
            &:before {
                content: none;
            }
        }
    }
}

// Закрытое состояние
.nav_sidebar.hide {
    //transition: width, transform 1s ease;
    width: 0px;
    min-width: 0;

    //& > .nav_sidebar_menu {
        transform: translateX(-280px);
    //}

    .item_menu > span, a {
        //transition: all 1s ease;
        opacity: 0;
        display: none;
    }
}

// Кнопка скрытия/раскрытия
.close_sidebar {
    display: flex;
    width: 42px;
    height: 33px;
    position: relative;
    //transition: all 1s ease;

    &:before, &:after, & > span {
        position: absolute;
        height: 3px;
        background-color: #fff;
        width: 100%;
        transition: all .5s ease;
        border-radius: 1px;
    }

    &:before, &:after {
        content: "";
    }

    &:before {
        top: 0;
    }

    &:after {
        bottom: 0;
    }

    & > span {
        top: 50%;
        transform: translate(0, -50%);
    }
}

.close_sidebar.hide {
    //transition: all .5s ease;

    &:before, &:after {

    }

    &:before {
        top: 50%;
        transform: rotate(45deg) translate(0, -50%);
    }

    &:after {
        bottom: 50%;
        transform: rotate(-45deg) translate(0, 50%);
    }

    & > span {
        left: -100px;
        opacity: 0;
    }
}


//
//.close_sidebar {
//    display: flex;
//    border-bottom: none;
//
//    //margin-top: auto;
//    i {
//        transform: rotate(-90deg);
//        background-image: url("/images/dropdown.svg");
//        background-size: cover;
//        background-position: center;
//        width: 22px;
//        height: 12px;
//    }
//}
